.text-gradient-red-purple {
  background: linear-gradient(90deg, #ff0000, #ff0000, #3336ea, #3336ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gradient-red-purple {
    background: linear-gradient(90deg, #ff0000b2, #ff0000, #6429ec, #2c2fdf, #0004ff);
}
.border-gradient-red-purple {
    border-radius: 5px;               /* outer rounded corners */
    padding: 3px;                      /* border thickness */
    background: linear-gradient(90deg, #ff000030, #3336ea30);
  }
  
  .border-gradient-red-purple > .content {
    border-radius: 9px;                /* slightly smaller inner radius */
    background: white;                 /* inner content background */
    padding: 1rem;
  }
  

.text-gradient-teal-green {
  background: linear-gradient(90deg, #00e297, #0003b1, #0003b1, #1200b1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-gradient-cyan-purple {
  background: linear-gradient(90deg, cyan, cyan, rgb(192, 0, 192), rgb(255, 0, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-card-bg-image {
  background-image: url("https://i.pinimg.com/1200x/fe/28/b4/fe28b44637096c37233370477dec95b5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.7);
}
